<div>
    <h2 id="page-heading">
        <span>Banque Employes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-banque-employe" [routerLink]="['/banque-employe/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Banque Employe
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="banqueEmployes?.length === 0">
        <span>No banqueEmployes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="banqueEmployes && banqueEmployes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nom</span></th>
                    <th scope="col" ><span>Numero Compte</span></th>
                    <th scope="col" ><span>Code Banque</span></th>
                    <th scope="col" ><span>Code Guichet</span></th>
                    <th scope="col" ><span>Cle Rib</span></th>
                    <th scope="col" ><span>Pdf Domiciliation</span></th>
                    <th scope="col" ><span>Banque</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let banqueEmploye of banqueEmployes ;trackBy: trackId">
                    <td><a [routerLink]="['/banque-employe', banqueEmploye.id, 'view']">{{ banqueEmploye.id }}</a></td>
                    <td>{{ banqueEmploye.nom }}</td>
                    <td>{{ banqueEmploye.numeroCompte }}</td>
                    <td>{{ banqueEmploye.codeBanque }}</td>
                    <td>{{ banqueEmploye.codeGuichet }}</td>
                    <td>{{ banqueEmploye.cleRib }}</td>
                    <td>{{ banqueEmploye.pdfDomiciliation }}</td>
                    <td>
                        <div *ngIf="banqueEmploye.banque">
                            <a [routerLink]="['/banque', banqueEmploye.banque?.id, 'view']" >{{ banqueEmploye.banque?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/banque-employe', banqueEmploye.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/banque-employe', banqueEmploye.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(banqueEmploye)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
